<section class="login">

    <div class="riskUser">
        <label for="username">Select a name to connect with</label>
        <input id="username" name="username" placeholder="Enter name..." type="text">
    </div>

    <button class="button confirm" data-action="login">Connect</button>

</section>